/* ***HEADER*** */
nav {
    height: 70px;
}

#small_logo {

    width: 35px;
}

#bellDropdown {
    right: 0;
}

/* ***SIDEBAR*** */

#mg_sidebar {
    width: 150px;
    height: calc(100vh - 70px);
    background-image: url(../img/sidebar-bg.png);
    background-color: darkblue;
}

/* ***MEDIA QUERY XS*** */
@media screen and (max-width: 767px) {
    #mg_sidebar {
        width: 70px;

    }
}

/* **************************** */





/* ***MAIN*** */

main {
    width: calc(100% - 80px);
    height: calc(100vh - 70px);
    overflow-y: auto;

}


/* ****TABLE*** */
#classNumber {
    text-align: left;
}





/* ***FOOTER*** */