/* ***HEADER*** */
nav {
    height: 60px;
}

#small_logo {

    width: 50px;
}

/* ***SIDEBAR*** */

#mg_sidebar {
    width: 80px;
    height: calc(100vh - 60px);
}






/* ***MAIN*** */

main {
    width: calc(100% - 80px);
    height: calc(100vh - 60px);

}




/* ***FOOTER*** */